*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  text-align: center;
}

.link{
  margin: 5px;
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  border-radius: 5px;
  padding: 5px;
  transition: .3s;
}

.link:hover{
  background: #ff1701;
}
